<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />

  <!-- Map CSS -->
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

  <!-- Libs CSS -->
  <link rel="stylesheet" href="./assets/css/libs.bundle.css" />

  <!-- Theme CSS -->
  <link rel="stylesheet" href="./assets/css/theme.bundle.css" />

  <!-- Title -->
  <title></title>
</head>

<body>


  <!-- NAVIGATION -->
  <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
        aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="./index">
        <img src="./assets/img/logo.svg" class="navbar-brand-img mx-auto" alt="...">
      </a>

      <!-- User (xs) -->
      <div class="navbar-user d-md-none">

        <!-- Dropdown -->
        <div class="dropdown">

          <!-- Toggle -->
          <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-sm avatar-online">
              <img src="./assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
            </div>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
            <a href="./profile-posts.html" class="dropdown-item">Profile</a>
            <a href="./account-general.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider">
            <a href="./sign-in.html" class="dropdown-item">Logout</a>
          </div>

        </div>

      </div>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">

        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge input-group-reverse">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </form>

        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="true"
              aria-controls="sidebarDashboards">
              <i class="fe fe-home"></i> My Account
            </a>
            <div class="collapse show" id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="./index.html" class="nav-link active">
                    Saved Builds
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarPages">
              <i class="fe fe-file"></i> Pages
            </a>
            <div class="collapse " id="sidebarPages">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="#sidebarAccount" class="nav-link" 
                    aria-expanded="false" aria-controls="sidebarAccount">
                    Runes
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#sidebarCrm" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarCrm">
                    Items
                  </a>
                  <div class="collapse " id="sidebarCrm">
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#sidebarProfile" class="nav-link" role="button" aria-expanded="false"
                    aria-controls="sidebarProfile">
                    Champions
                  </a>
                </li>
            </div>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity"
              aria-contrtols="sidebarOffcanvasActivity">
              <span class="fe fe-bell"></span> Notifications
            </a>
          </li>
        </ul>

        <!-- Divider -->
        <hr class="navbar-divider my-3">

        <!-- Heading -->
        <h6 class="navbar-heading">
          Gameplay
        </h6>

        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          <li class="nav-item">
            <a class="nav-link" href="#sidebarBasics" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarBasics">
              <i class="fe fe-clipboard"></i> Playstyle
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarComponents" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarComponents">
              <i class="fe fe-book-open"></i> Streamer Mode
            </a>
          </li>
        </ul>

        <!-- Pushes content down -->
        <div class="mt-auto"></div>


        <!-- user(md) -->
        <div class="navbar-user d-none d-md-flex" id="sidebarUser">

          <!-- Dropup -->
          <div class="dropup">

            <!-- Toggle -->
            <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-sm avatar-online">
                <img src="summonerprofile" class="avatar-img rounded-circle" alt="...">
              </div>
            </a>


        </div>

      </div> 

    </div>
  </nav>
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <h1><span></span> Champion Advice</h1>
      <form action="/champguide" method="post">
      <ol>
          <label for="champion">Gwen</label>
          <input class="choice" type="checkbox" value="Gwen" name="champion">
          <label for="champion">Ezreal</label>
          <input class="choice" type="checkbox" value="Ezreal" name="champion">
          <label for="champion">Lucian</label>
          <input class="choice" type="checkbox" value="Lucian" name="champion">
          <label for="champion">Brand</label>
          <input class="choice" type="checkbox" value="Brand" name="champion">
          <label for="champion">Viego</label>
          <input class="choice" type="checkbox" value="Viego" name="champion">
          <label for="champion">Samira</label>
          <input class="choice" type="checkbox" value="Samira" name="champion">
          <label for="champion">Lee Sin</label>
          <input class="choice" type="checkbox" value="Leesin" name="champion">
          <label for="champion">Sion</label>
          <input class="choice" type="checkbox" value="Sion" name="champion">
          <label for="champion">Twisted Fate</label>
          <input class="choice" type="checkbox" value="TwistedFate" name="champion">
          <label for="champion">Miss Fortune</label>
          <input class="choice" type="checkbox" value="MissFortune" name="champion">
      </ol>
      <button type="button" class="btn btn-primary">Get Build</button>
  </form>
      
      

    </div>

    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
  </body>
</html>
