<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="sidebar">
        <a href="">User</a>
        <a href="">Runes</a>
        <a href="">Tips & Tricks</a>
        <a href="">Stats</a>
    </div>
    <div class="header">
        <span>fdsfsfdsfsdf</span>
    </div>
<div class="container">

    <div class="jumbotron text-center">
        <h2>Choose playstyle.</h2>
        <a href="/safepage">Safe</a>
        <a href="/riskypage">Risky</a>
        <a href="/trollpage">Troll</a>
    </div>

</div>
</body>
</html>
