<!doctype html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-user"></span> Select a Champion</h1>
    <form action="/champ" method="post">
    <ol>
        <label for="champion">Gwen</label>
        <input class="choice" type="checkbox" value="Gwen" name="champion">
        <label for="champion">Ezreal</label>
        <input class="choice" type="checkbox" value="Ezreal" name="champion">
        <label for="champion">Lucian</label>
        <input class="choice" type="checkbox" value="Lucian" name="champion">
        <label for="champion">Brand</label>
        <input class="choice" type="checkbox" value="Brand" name="champion">
        <label for="champion">Viego</label>
        <input class="choice" type="checkbox" value="Viego" name="champion">
        <label for="champion">Samira</label>
        <input class="choice" type="checkbox" value="Samira" name="champion">
        <label for="champion">Lee Sin</label>
        <input class="choice" type="checkbox" value="Leesin" name="champion">
        <label for="champion">Sion</label>
        <input class="choice" type="checkbox" value="Sion" name="champion">
        <label for="champion">Twisted Fate</label>
        <input class="choice" type="checkbox" value="TwistedFate" name="champion">
        <label for="champion">Miss Fortune</label>
        <input class="choice" type="checkbox" value="MissFortune" name="champion">
    </ol>
    <button>Get Build</button>
</form>
   


</div>
</div>
</body>
</html>
